<!DOCTYPE html>
<html lang="en" class="theme-fs-sm" data-bs-theme="light" data-bs-theme-color="default" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up - MediTrack</title>
</head>

<body>
    <div class="sign-in-page">
        <div class="sign-in-container">
            <div class="sign-in-left">
                <h4>Manage Your Orders</h4>
                <p>Track and manage all your clinic & patient details in one place.</p>
            </div>
            <div class="sign-in-right">
                <h1 class="mb-4">Admin Sign Up</h1>
            </div>
        </div>
    </div>
</body>

</html>

