<aside class="sidebar collapsed">
    <div class="logo-main">
        <img src="/images/logo.png" alt="MediTrack Logo">
        <span class="brand-name">MediTrack</span>
    </div>
    <ul class="sidebar-menu">
        <% if (!role) { %>
        <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="/sign-in" class="menu-link">Login</a></li>
        <% } %>
        <% if (role === 'owner') { %>
        <li class="menu-item"><a href="/owner-dashboard" class="menu-link">Owner Dashboard</a></li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Organizations</a>
            <ul class="submenu">
                <li><a href="/all-organizations">All Organizations</a></li>
                <li><a href="/add-organization">Add Organization</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Admins</a>
            <ul class="submenu">
                <li><a href="/all-admins">All Admins</a></li>
                <li><a href="/add-admin">Add Admin</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Patient</a>
            <ul class="submenu">
                <li><a href="/all-patients">All Patients</a></li>
                <li><a href="/add-patient">Add Patient</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Reminders</a>
            <ul class="submenu">
                <li><a href="/all-reminders">All Reminders</a></li>
                <li><a href="/add-reminder">Add Reminder</a></li>
            </ul>
        </li>
        <% } %>
        <% if (role === 'admin') { %>
        <li class="menu-item"><a href="/admin-dashboard" class="menu-link">Admin Dashboard</a></li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Patient</a>
            <ul class="submenu">
                <li><a href="/all-patients">All Patients</a></li>
                <li><a href="/add-patient">Add Patient</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Reminders</a>
            <ul class="submenu">
                <li><a href="/all-reminders">All Reminders</a></li>
                <li><a href="/add-reminder">Add Reminder</a></li>
            </ul>
        </li>
        <% } %>
        <% if (role === 'user') { %>
        <li class="menu-item"><a href="/patient-dashboard" class="menu-link">Patient Dashboard</a></li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Medicines</a>
            <ul class="submenu">
                <li><a href="/all-medications">All Medications</a></li>
                <li><a href="/medication-history">Medication History</a></li>
                <li><a href="/medicine-details">Medicines Info</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Alerts</a>
            <ul class="submenu">
                <li><a href="/refill-alerts">Refill Alerts</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Reminders</a>
            <ul class="submenu">
                <li><a href="/all-reminders">All Reminders</a></li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Caretaker</a>
            <ul class="submenu">
                <li><a href="/all-caretakers">All Caretakers</a></li>
            </ul>
        </li>
        <% } %>
        <% if (role === 'owner' || role === 'admin' || role === 'user') { %>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-link">Settings</a>
            <ul class="submenu">
                <li><a href="/settings">Edit Information</a></li>
                <% if (role === 'admin' || role === 'owner') { %>
                <li><a href="/logs">Logs</a></li>
                <% } %>
            </ul>
        </li>
        <% } %>
    </ul>
</aside>
<button class="menu-toggle">☰</button>