<!DOCTYPE html>
<html lang="en">

<head>
    <title>Patient Dashboard - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>

<body>
    <%- include('../../partials/_sidebar') %>
    <%- include('../../partials/_auth') %>

    <div class="main-content">
        <div class="dashboard-container">
            <h1>Patient Dashboard</h1>
        </div>
    </div>
</body>

</html>
