<!DOCTYPE html>
<html lang="en">
<head>
    <title>Medicine Details - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>
<body>
    <%- include('../../partials/_sidebar') %>
    <%- include('../../partials/_auth') %>
</body>
</html>
