<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Patients - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>

<body>
    <div class="form-container">
        <h1>All Patients</h1>
    </div>
    <%- include('../../partials/_scripts') %>
</body>

</html>
